body{
    background-color: var(--branco);
    color: var(--preto);
}

.container-cadastro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

/* ESTILIZAÇÃO LADO ESQUERDO */ 

.lado-esquerdo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.forms-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

label {
    font-weight: 300;
    align-self: flex-start;
    margin-top: 25px;
}

input{
    padding: 12px;
    border: 1px solid var(--preto);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 200;
    width: 100%;
}

input[type="checkbox"] {
    accent-color: var(--preto);
  }

.campo-senha {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.icone-olho {
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translateY(-50%);
}

.lembrar-usuario{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
}

.check-lembrar{
   width: auto;
}

.texto-lembrar{
    font-size: 0.85rem;
    font-weight: 180;
    padding: 1.5%;
}

.botao-registrar{
    background-color: var(--vermelho-escuro);
    border: none;
    color: var(--branco);
    width: 90%;
    padding: 2.5%;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 6%;

}

.possui-conta{
    font-size: 0.85rem;
    font-weight: 350;
    margin-top: 2.5%;
}

.possui-conta a{
    color: var(--vermelho-escuro);
    font-weight: 650;
    text-decoration: none;
}

.botoes-sociais{
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    gap: 12%;
}


/* ESTILIZAÇÃO LADO DIREITO */
 
.lado-direito{
    background-color: brown
}